/* From Uiverse.io by imtausef */ 
.button {
  width: 200px;
  margin-top: 30vw;
  margin-bottom: 10vw;
  cursor: pointer;
  font-size: 1.4rem;
  border-radius: 16px;
  border: none;
  padding: 2px;
  background: radial-gradient(circle 80px at 80% -10%, #ffd6d6, #1b1818);
  position: relative;
  transition:
    background 0.3s,
    transform 0.3s;
  
  
}

.button:hover {
  /*background: radial-gradient(circle 80px at 80% -10%, #181b1b, #000);*/
  transform: scale(0.98);
}

.button::after {
  content: "";
  position: absolute;
  width: 65%;
  height: 60%;
  border-radius: 120px;
  top: 0;
  right: 0;
  box-shadow:   0 0 20px #ffffff38;
  z-index: -1;
  transition: box-shadow 0.3s;
}

.button:hover::after {
  box-shadow: 0 0 10px #ffffff18;
}

.blob1 {
  position: absolute;
  width: 70px;
  height: 100%;
  border-radius: 16px;
  bottom: 0;
  left: 0;
  background: radial-gradient(
    circle 60px at 0% 100%,
    #ff3f3f,
    #ff000080,
    transparent
  );
  box-shadow: -10px 10px 30px #ff00002d;
  transition:
    background 0.3s,
    box-shadow 0.3s;
}

.button:hover .blob1 {
  /*  background: radial-gradient(circle 60px at 0% 100%, #181b1b, #000);*/
  box-shadow: -5px 5px 20px #000;
}

.inner {
  padding: 14px 25px;
  border-radius: 14px;
  color: #ffffff;
  z-index: 3;
  position: relative;
  background: radial-gradient(circle 80px at 80% -50%, #777777, #110f0f);
  transition: background 0.3s;
}


.button:hover .inner {
  background: radial-gradient(circle 80px at 80% -50%, #333333, #0f0f0f);
}

.inner::before {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 14px;
  background: radial-gradient(
    circle 60px at 0% 100%,
    #ff00001a,
    #ff000011,
    transparent
  );
  position: absolute;
  transition: opacity 0.3s;
}

.button:hover .inner::before {
  opacity: 0;
}

@media (max-width: 991.98px) {
   .button {
    font-size: 30px;
  }
    .button {
    width: 170px;
  }
}

@media (max-width: 660.98px) {
   .button {
    
    width: 600px;           /* ширина кнопки на мобилке */
    margin: 55vh 10% 10vh; /* отступ сверху/снизу + по центру по горизонтали */
    display: block; 
    background:  radial-gradient(circle 80px at 80% -10%, #ff8888, #bf1414);

   }
   .blob1 {
    width: 115px;
    background: radial-gradient(
    circle 100px at 0% 100%,
    #ff5b5b,
    #ff000080,
    transparent
  );
   }
   .inner {
    color: radial-gradient(circle 100px at 80% -50%, #777777, #110f0f);
   }

}