footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 50;
  transition: var(--transition);
  
  
}

.footer__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  transition: var(--transition);

}


.footer__container .section__about {
  width: 40%;
  margin-right: 30px;
  transition: var(--transition);

}

.footer__container h2 {
  position: relative;
  font-weight: 500;
  margin-bottom: 15px;
  color: var(--color-header);
  transition: var(--transition);

}

.footer__container h2:before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 70px;
  height: 2px;
  background-color: var(--color-gradient-3); 
  transition: var(--transition);

}

footer p {
  color: var(--color-text);
  line-height: 1.75;
  transition: var(--transition);
}

.social-icons {
  margin-top: 20px;
  display: flex;
}

.social-icons li {
  list-style: none;
}

.social-icons li a {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #222;
  border-radius: var(--radius);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  transition: var(--transition);
}

.social-icons li a:hover {
  background: var(--color-gradient-3);
  transition: var(--transition);
}

.social-icons li a .github {
  color: #fff;
  font-size: 20px;
}

.section__links {
  position: relative;
  width: 25%;

}

.section__links ul li a{
  color: var(--color-text);
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
  transition: var(--transition);
}

.section__links ul li a:hover{
  color: #fff;
  transition: var(--transition);
  
}

.section__contacts {
  width: calc(35% - 60px);
  margin-right: 0 !important;
}

.section__contacts .info {
  position: relative;
}
.section__contacts .info li {
  display: flex;
  margin-bottom: 16px;
}

.section__contacts .info li span:nth-child(1) {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}

.section__contacts .info li span {
  color: var(--color-text);
}

.section__contacts .info li a {
  color: var(--color-text);
  text-decoration: none;
  transition: var(--transition);
}

.section__contacts .info li a:hover {
  color: #fff;
  transition: var(--transition);
}

.lucide-mail{
  margin-right: 10px;
}

.copyrightText {
  width: 100%;
  padding: 50px 100px ;
  text-align: center;
  color: var(--color-text);
  z-index: 1000;
  transform: none !important;
}



@media (max-width: 660.98px) {
  footer {
    padding: 40px;
  }
  .footer__container {
    flex-direction: column;
  }
  .footer__container .section__contacts .section__about .section__links {
    margin-right: 0;
    margin-bottom: 40px;
  }
  .footer__container .section__about {
    width: 100%;
  }
  .copyrightText {
    margin-left: 35vw;
    margin-bottom: 5vh;
    font-size: 6vw;
  }
  .social-icons {
    margin-bottom: 15px;
    
  }
  .social-icons li a {
    width: 15vw;
    height: 15vw;
  }
  footer p {
  color: var(--color-text);
  line-height: 1.5;
  font-size: 7vw;
}

footer a {
  color: var(--color-text);
  line-height: 1.5;
  font-size: 7vw;
}
 footer h2 {
  color: var(--color-text);
  line-height: 1.5;
  font-size: 9vw;
  margin-top: 15vw;
}
.info li p a{
  font-size: 7vw;
}

.lucide-mail{
  width: 10vw;
  height: 10vw;
  margin-right: 3vw;
  margin-top: 0.5vw;
}
}