footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 50;
  
  
}

.footer__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.footer__container .section__about {
  width: 40%;
  margin-right: 30px;
}

.footer__container h2 {
  position: relative;
  font-weight: 500;
  margin-bottom: 15px;
  color: var(--color-header);
}

.footer__container h2:before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 70px;
  height: 2px;
  background-color: var(--color-gradient-3); 
}

footer p {
  color: var(--color-text);
  line-height: 1.75;
}

.social-icons {
  margin-top: 20px;
  display: flex;
}

.social-icons li {
  list-style: none;
}

.social-icons li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #222;
  border-radius: var(--radius);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  transition: var(--transition);
}

.social-icons li a:hover {
  background: var(--color-gradient-3);
  transition: var(--transition);
}

.social-icons li a .github {
  color: #fff;
  font-size: 20px;
}

.section__links {
  position: relative;
  width: 25%;

}

.section__links ul li a{
  color: var(--color-text);
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
  transition: var(--transition);
}

.section__links ul li a:hover{
  color: #fff;
  transition: var(--transition);
  
}

.section__contacts {
  width: calc(35% - 60px);
  margin-right: 0 !important;
}

.section__contacts .info {
  position: relative;
}
.section__contacts .info li {
  display: flex;
  margin-bottom: 16px;
}

.section__contacts .info li span:nth-child(1) {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}

.section__contacts .info li span {
  color: var(--color-text);
}

.section__contacts .info li a {
  color: var(--color-text);
  text-decoration: none;
  transition: var(--transition);
}

.section__contacts .info li a:hover {
  color: #fff;
  transition: var(--transition);
}

.copyrightText {
  width: 100%;
  padding: 50px 100px ;
  text-align: center;
  color: var(--color-text);
  z-index: 1000;
  transform: none !important;
}



@media (max-width: 991px) {
  footer {
    padding: 40px;
  }
  .footer__container {
    flex-direction: column;
  }
  .footer__container .section__contacts .section__about .section__links {
    margin-right: 0;
    margin-bottom: 40px;
  }
  .footer__container .section__about {
    width: 100%;
  }
  .copyrightText {
    padding: 2px 40px;
  }
  .social-icons {
    margin-bottom: 10px;
  }
 
}