:root {
  --dark: #0b0b0c; 
  

  --color1: 255, 46, 46;   
  --color2: 255, 255, 255; 
  --color3: 85, 85, 85;    
  --color4: 200, 0, 0;    


  --color-gradient-1: #ff0000;
  --color-gradient-2: #fd1616;
  --color-gradient-3: #ff3939;
  --color-gradient-4: #ff4343;
  --color-gradient-5: #ff6565;
  --color-gradient-6: #f78080;
  --color-gradient-7: #ffb4b4; 

  --gradient-base: var(--color-gradient-1) 2%, var(--color-gradient-1) 18%, var(--color-gradient-1) 20%, var(--color-gradient-2) 35%, var(--color-gradient-3) 50%, var(--color-gradient-4) 70%, var(--color-gradient-5) 90%, var(--color-gradient-6) 98%;

  --gradient-1: linear-gradient(270deg, var(--gradient-base));
  --gradient-2: linear-gradient(0deg, var(--gradient-base));



  --transition: all .5s;
  --transition-menu: 0.5s cubic-bezier(.8, 0, .1, 1);
  --radius: 8px;
}